/*
/ Variables text elements
*/
/*
/ wooCommerce
*/
/*
/ woocommerce-result-count
*/
body {
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #414141;
  background-color: white;
  font-family: "Lato", "Open Sans", sans-serif;
  padding: 0;
  margin: 0; }

a:hover, a:focus, a:active {
  color: #DFB200;
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 15px 0 10px; }

body.woocommerce #content {
  width: 96%;
  margin: 0 2%;
  		/*ul {
  			margin : $ul-margin;
  			padding : $ul-padding;
  			list-style : $ul-list-style;
  			clear : $ul-clear;
  		}
  		li {
  			list-style: $li-list-style;
  			display: $li-display;
  		}
  */ }
  body.woocommerce #content h1 {
    font-size: 2em;
    padding: 0;
    margin: 0 0 10px 0;
    color: #414141; }
  body.woocommerce #content h2 {
    font-size: 1.5em;
    padding: 0;
    margin: 15px 10px;
    color: #414141; }
  body.woocommerce #content h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 15px 10px;
    color: #414141; }
  body.woocommerce #content h4 {
    font-size: 1em;
    padding: 0;
    margin: 15px 10px;
    color: #414141; }
  body.woocommerce #content h5 {
    font-size: 0.83em;
    padding: 0;
    margin: 15px 10px;
    color: #414141; }
  body.woocommerce #content h6 {
    font-size: 0.67em;
    padding: 0;
    margin: 15px 10px;
    color: #414141; }
  body.woocommerce #content p {
    font-size: 16px;
    margin: 0 0 15px 0; }

/*
/ woocommerce body
*/
/*
/ woocommerce-breadcrumb
*/
/*
/ woocommerce ON SALE
*/
/*
/ product - all products page
*/
/* product title - all products page */
/* product prices- all products page */
/*
/ product - single product page
*/
/* product title- single product page */
/* product description- single product page */
/* product price- single product page */
/* product meta- single product page */
/* product meta a (category link)- single product page */
/* woocommerce text elements */
.woocommerce {
  width: 96%;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #414141;
  background-color: white;
  font-family: "Lato", "Open Sans", sans-serif;
  padding: 0;
  margin: 0 2%;
  /* woocommerce-breadcrumb */
  /* woocommerce- on sale */
  /* product - all products page */
  /* product - single product page */ }
  .woocommerce .woocommerce-breadcrumb {
    margin: 0 0 1em;
    padding: 0;
    font-size: 0.92em;
    color: #777777; }
    .woocommerce .woocommerce-breadcrumb a {
      color: #777777; }
  .woocommerce span.onsale {
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -0.5em;
    left: -0.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: white;
    font-size: 0.857em;
    -webkit-font-smoothing: antialiased; }
  .woocommerce ul.products li.product {
    /* product prices- all products page */
    /* old price */ }
    .woocommerce ul.products li.product h3 {
      padding: 0.5em 0;
      margin: 0;
      font-size: 1em; }
    .woocommerce ul.products li.product .price {
      color: #77a464;
      display: block;
      font-weight: 400;
      margin-bottom: 0.5em;
      font-size: 0.857em; }
  .woocommerce .product .summary h1.product-title {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 2em;
    color: #414141;
    font-weight: normal; }
  .woocommerce .product .summary p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    color: #414141;
    background-color: transparent;
    padding: 0;
    margin: 0 0 15px 0; }
  .woocommerce .product .summary p.price {
    margin: 0 0 25px 0;
    padding: 0;
    color: #77a464;
    font-size: 1.25em;
    font-weight: normal;
    text-align: left; }
  .woocommerce .product .summary .product_meta {
    font-size: 16px;
    color: #414141;
    font-weight: normal; }
    .woocommerce .product .summary .product_meta a {
      font-size: 16px;
      color: #414141;
      font-weight: normal;
      margin: 0;
      padding: 0; }

/*
/ Buttons customize 
*/
/*All buttons*/
/* Hover */
/*add to cart button - All products page*/
/* Hover */
/*select opitons of product button - All products page*/
/* Hover */
/*
/  apply coupon, update cart, view cart
*/
/* Hover */
/*
/ add to cart button - Single product page
*/
/* Hover */
/*
/  Checkout button, add_payment method
*/
/* Hover */
/*
/  Comment submit
*/
/* input submit wrapper */
/* input submit */
/*
/ all buttons
*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  white-space: nowrap;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  -webkit-font-smoothing: antialiased; }

/* HOVER */
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: #ebe9eb;
  color: #515151;
  border: 0;
  opacity: 0.8; }

/*
/ add to cart button - All products page
*/
.woocommerce ul.products li.product .button {
  padding: 0.618em 1em;
  font-weight: 700;
  color: #515151;
  background-color: #ebe9eb;
  font-size: 13px;
  border: none; }

/* HOVER */
.woocommerce ul.products li.product .button:hover {
  background-color: #ebe9eb;
  color: #515151;
  border: 0;
  opacity: 0.8; }

/*
/ select opitons of product button - All products page
*/
.woocommerce ul.products li.product .product_type_variable {
  padding: 0.618em 1em;
  font-weight: 700;
  color: #515151;
  background-color: #ebe9eb;
  font-size: 13px;
  border: none; }

/* HOVER */
.woocommerce ul.products li.product .product_type_variable:hover {
  background-color: #ebe9eb;
  color: #515151;
  border: 0;
  opacity: 0.8; }

/*
/  apply coupon, update cart, view cart
*/
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit:focus, .woocommerce a.button:focus, .woocommerce button.button:focus, .woocommerce input.button:focus, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce .woocommerce-message .wc-forward {
  background-color: #ebe9eb;
  color: white;
  font-size: 13px;
  line-height: 1.2;
  padding: 10px 16px 11px;
  border: none;
  font-weight: 700; }

/* HOVER */
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background-color: #cccccc;
  color: #515151;
  border: 0;
  opacity: 0.8; }

/*
/ add to cart button - Single product page
*/
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  padding: 0.618em 1em;
  font-weight: 700;
  color: white;
  background-color: #a46497;
  font-size: 15px;
  border: none; }

/* HOVER */
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #a46497;
  color: white;
  border: 0;
  opacity: 0.8; }

/*
/  Checkout button, add_payment method
*/
#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
  background-color: #a46497;
  color: white;
  display: block;
  font-size: 1.25em;
  padding: 1em; }

/* HOVER */
#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button:hover {
  background-color: #a46497;
  color: white;
  border: 0;
  opacity: 0.8; }

/*
/  Comment submit
*/
.woocommerce #review_form #respond .form-submit {
  text-align: left; }
  .woocommerce #review_form #respond .form-submit input[type="submit"] {
    width: auto;
    background-color: #ebe9eb;
    color: white;
    font-size: 13px;
    line-height: 1.2;
    padding: 10px 16px 11px;
    border: none;
    font-weight: 700; }

/*
/ input[type="text"], .woocommerce input[type="email"], .woocommerce input[type="url"], .woocommerce input[type="password"], .woocommerce input[type="search"], .woocommerce input[type="tel"]
*/
/*
/ select
*/
/*
/ quantity select
*/
/*
/ Textarea
*/
/*
/ Select with dropdown 
*/
/* select dropdown */
/* search fild in dropdown select*/
/* select dropdown ul*/
/* select dropdown ul li */
/* select dropdown ul li div */
/*
/ valid  invalid inputs
*/
/*
/ comment textarea
*/
/*
/ Filter by price - RANGE slider
*/
/* widget_price_filter */
/* ui-slider-horizontal */
/* ui-slider-range */
/* .ui-slider */
/* .ui-slider-range */
/*  ui-slider-handle */
/*
/ some inputs, select 
*/
input[type="text"], .woocommerce input[type="email"], .woocommerce input[type="url"], .woocommerce input[type="password"], .woocommerce input[type="search"], .woocommerce input[type="tel"], .woocommerce select, .woocommerce textarea, .select2-container .select2-choice {
  color: #414141;
  background-color: white;
  font: normal 10px "Open Sans", sans-serif;
  position: relative;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  padding: 10px 5px 12px 15px;
  vertical-align: top;
  border-radius: 0;
  height: 34px;
  margin: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased; }

/*
/ Ordeering select 
*/
.woocommerce select {
  padding: 8px 5px;
  font: normal 11.53846px "Open Sans", sans-serif;
  vertical-align: top; }

.select2-drop-active {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: white !important;
  color: black;
  border: 1px solid #cccccc;
  border-top: 0;
  border-radius: 0;
  border-top: none; }
  .select2-drop-active .select2-search input {
    width: 100%;
    height: auto;
    padding: 4px 20px 4px 5px !important;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: url(../images/select2.png) 100% -22px no-repeat white; }
  .select2-drop-active ul.select2-results {
    max-height: 200px;
    padding: 4px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
    background: white; }
    .select2-drop-active ul.select2-results li {
      font-size: 13px;
      list-style: none;
      display: list-item;
      background-image: none s;
      margin: 3px 0;
      padding: 0; }
      .select2-drop-active ul.select2-results li .select2-result-label {
        padding: 5px 7px;
        margin: 0;
        cursor: pointer;
        min-height: 1em; }

/*
/ textarea
*/
.woocommerce textarea {
  height: auto; }

/*
/ Quantity input 
*/
.woocommerce .quantity .qty {
  width: 3.631em;
  text-align: center;
  font-size: 16px;
  height: inherit;
  line-height: normal;
  padding: 8px 15px; }

/*
/ Validated input
*/
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #69bf29; }

/*
/ Invalid input
*/
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
  border-color: #aa0000; }

.woocommerce #review_form #respond textarea {
  box-sizing: border-box;
  width: 100%;
  height: 75px; }

.woocommerce .widget_price_filter .ui-widget-content {
  border-radius: 1em;
  background-color: #602053;
  border: 0;
  margin: 1em; }
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 0.5em; }
  .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em; }
  .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: #a46497; }
  .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    background-color: #a46497;
    border-radius: 1em;
    cursor: ew-resize;
    outline: 0;
    top: -0.3em;
    margin-left: -0.5em; }

/*
/ all wooCommerece  image
*/
/*
/ all products page image
*/
/*
/ WIGHET thumb image
*/
/*
/ woo comentar avatar image
*/
/*
/ cart table image
*/
/*
/ all wooCommerece  image
*/
.woocommerce img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  box-shadow: none;
  border-radius: none;
  border: none; }

/*
/ all products page image
*/
.woocommerce ul.products li.product a img {
  margin: 0 0 1em; }

/*
/ single product page main image
*/
/*
/ WIGHET thumb image
*/
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  box-shadow: none; }

/*
/ woo comentar avatar image
*/
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  background: #ebe9eb;
  border: 1px solid #e4e1e3;
  margin: 0;
  box-shadow: none; }

/*
/ cart table image
*/
.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
  height: auto;
  width: 32px;
  box-shadow: none; }

/*
/ star rating 
*/
/*
/ star rating comment
*/
/* star rating a */
/* star rating a:before; */
/*
/ star rating - all products page
*/
/* .price  */
/* span */
/*
/ star rating - single product page
*/
/* .woocommerce-product-rating  */
/* .star-rating  */
/* .woocommerce-review-link  */
/* woocommerce text elements */
.woocommerce {
  /* all products page */
  /* single products page */ }
  .woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
    color: #414141; }
  .woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    color: #414141; }
    .woocommerce p.stars a:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-family: WooCommerce;
      text-indent: 0; }
  .woocommerce ul.products li.product .star-rating {
    font-size: 0.857em;
    display: block;
    margin: 0 0 0.5em;
    float: none; }
    .woocommerce ul.products li.product .star-rating span {
      overflow: hidden;
      float: left;
      top: 0;
      left: 0;
      position: absolute;
      padding-top: 1.5em;
      color: #414141; }
  .woocommerce .product .summary .woocommerce-product-rating {
    margin-bottom: 1.618em;
    line-height: 2; }
    .woocommerce .product .summary .woocommerce-product-rating .star-rating {
      margin: 0.5em 4px 0 0;
      float: left;
      color: #414141; }
    .woocommerce .product .summary .woocommerce-product-rating .woocommerce-review-link {
      color: #414141;
      background-color: transparent;
      text-decoration: none; }

/*
/ single product tabs
*/
/* ul.tabs */
/* li */
/* li.active  */
/* li a */
/* li.active a */
/* li a:hover */
/*.woocommerce-Tabs-panel */
/* panel ol.commentlist */
/* panel ol.commentlist li */
/* .comment_container */
/* .comment_text */
/* .comment_text meta */
/* .comment_text meta name */
/* .comment_text comment */
/* .comment reply title */
/* .comment rating */
/* .comment rating label */
/* woocommerce single product tabs */
.woocommerce div.product .woocommerce-tabs ul.wc-tabs {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0 0 1.618em;
  overflow: hidden;
  position: relative; }
  .woocommerce div.product .woocommerce-tabs ul.wc-tabs li {
    display: inline-block;
    border: 1px solid #d3ced2;
    background-color: #ebe9eb;
    position: relative;
    z-index: 0;
    border-radius: 4px 4px 0 0;
    margin: 0 -5px;
    padding: 0 1em; }
    .woocommerce div.product .woocommerce-tabs ul.wc-tabs li.active {
      background: white;
      z-index: 2;
      border-bottom-color: white; }
      .woocommerce div.product .woocommerce-tabs ul.wc-tabs li.active a {
        padding: 0.5em 0;
        font-weight: 700;
        color: #515151; }
    .woocommerce div.product .woocommerce-tabs ul.wc-tabs li a {
      display: inline-block;
      padding: inline-block;
      font-weight: 700;
      color: #515151;
      text-decoration: none; }
      .woocommerce div.product .woocommerce-tabs ul.wc-tabs li a:hover {
        color: #6b6b6b; }
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel {
  margin: 0 0 2em;
  padding: 0; }
  .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist {
    margin: 0;
    width: 100%;
    background: 0 0;
    list-style: none; }
    .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li {
      padding: 0;
      margin: 0 0 20px;
      position: relative;
      background: 0;
      border: 0; }
      .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li .comment_container {
        padding: 0;
        margin: 0;
        background-color: none; }
        .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li .comment_container .comment-text {
          margin: 0 0 0 50px;
          border: 1px solid #e4e1e3;
          border-radius: 4px;
          padding: 1em 1em 0; }
          .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li .comment_container .comment-text p.meta {
            font-size: 0.83em;
            margin: 0 0 1em;
            color: #777777; }
            .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li .comment_container .comment-text p.meta strong {
              font-weight: 700; }
          .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #comments ol.commentlist li .comment_container .comment-text .description p {
            font-size: 16px;
            font-weight: normal;
            color: inherit;
            padding: 0;
            margin: 0 0 15px 0; }
  .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #review_form_wrapper #review_form #respond h3#reply-title {
    font-size: 1.2em;
    padding: 0;
    margin: 15px 10px;
    color: inherit; }
  .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #review_form_wrapper #review_form #respond label {
    color: #707070;
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase; }
  .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #review_form_wrapper #review_form #respond p.comment-form-rating {
    margin: 0 0 10px 0; }
  .woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel #reviews #review_form_wrapper #review_form #respond p.comment-form-comment {
    margin: 0 0 10px; }

/*
/ cart table
*/
/* th */
/* td */
/* td.actions */
/*
/ woo Tables
*/
#add_payment_method table.cart td, #add_payment_method table.cart th, .woocommerce-cart table.cart td, .woocommerce-cart table.cart th, .woocommerce-checkout table.cart td, .woocommerce-checkout table.cart th {
  vertical-align: middle; }

.woocommerce table.shop_table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 5px; }
  .woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px; }
  .woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px 12px; }
    .woocommerce table.shop_table td.actions {
      text-align: right; }

/*
/ nav.woocommerce-pagination 
*/
/* ul */
/* li */
/* li span*/
/* li span current */
/* li a*/
/* li a.page-numbers*/
/*.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span*/
.woocommerce nav.woocommerce-pagination {
  text-align: center;
  display: block;
  box-sizing: border-box; }
  .woocommerce nav.woocommerce-pagination ul {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: nowrap;
    padding: 0; }
    .woocommerce nav.woocommerce-pagination ul li {
      display: inline-block;
      float: none;
      border-right: 1px solid #d3ced2;
      padding: 0;
      margin: 0;
      overflow: hidden;
      box-sizing: border-box; }
      .woocommerce nav.woocommerce-pagination ul li span.page-numbers {
        height: 44px;
        text-align: center;
        vertical-align: middle;
        width: 44px;
        border-radius: 0;
        background-color: #ebe9eb; }
        .woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {
          border: 1px solid #028484;
          color: #028484; }
      .woocommerce nav.woocommerce-pagination ul li a {
        margin: 0;
        text-decoration: none;
        line-height: 1;
        font-size: 1em;
        font-weight: 400;
        padding: 0.5em;
        min-width: 1em;
        display: block; }
        .woocommerce nav.woocommerce-pagination ul li a.page-numbers {
          border: 1px solid #cccccc;
          background-color: #ffffff;
          color: #565656;
          height: 44px;
          text-align: center;
          vertical-align: middle;
          width: 44px;
          border-radius: 0; }

/*# sourceMappingURL=woo.css.map */
