/*
/ all wooCommerece  image
*/
$img-width                      : 100%;  
$img-max-width                  : 100%;
$img-height                     : auto;
$img-display                    : block;
$img-margin                     : 0;
$img-box-shadow                 : none;
$img-border                     : none;
$img-border-radius              : none;

/*
/ all products page image
*/
$img-single-product-margin      : 0 0 1em;

/*
/ WIGHET thumb image
*/
$img-widget-float               : right;
$img-widget-margin-left         : 4px;
$img-widget-width               : 32px;
$img-widget-height              : auto;
$img-widget-box-shadow          : none;

/*
/ woo comentar avatar image
*/
$img-com-avatar-float           : left;
$img-com-avatar-position        : absolute;
$img-com-avatar-top             : 0;
$img-com-avatar-left            : 0;
$img-com-avatar-padding         : 3px;
$img-com-avatar-width           : 32px;
$img-com-avatar-height          : auto;
$img-com-avatar-bg              : rgba(235, 233, 235, 1);
$img-com-avatar-border          : 1px solid rgba(228, 225, 227, 1);
$img-com-avatar-margin          : 0;
$img-com-avatar-box-shadow      : none;

/*
/ cart table image
*/
$c-t-height                     : auto;
$c-t-width                      : 32px;
$c-t-box-shadow                 : none;


