/*
/ input[type="text"], .woocommerce input[type="email"], .woocommerce input[type="url"], .woocommerce input[type="password"], .woocommerce input[type="search"], .woocommerce input[type="tel"]
*/
$form-color                     : rgba(65, 65, 65, 1); 
$form-bg-color                  : rgba(255, 255, 255, 1);
$form-font-weight               : normal;
$form-font-size                 : 15px;
$form-l-height                  : 1.5;
$form-font-family               : 'Open Sans', sans-serif;
$form-position                  : relative;
$form-border                    : 1px solid rgba(204, 204, 204, 1);
$form-box-sizing                : border-box;
$form-padding                   : 10px 5px 12px 15px;
$form-vertical-align            : top;
$form-border-radius             : 0;
$form-height                    : 34px;
$form-margin                    : 0;
$form-outline                   : 0;

/*
/ select
*/
$form-select-padding            : 8px 5px;
$form-select-l-height           : 1.3;
$form-select-v-align            : top;


/*
/ quantity select
*/
$form-qty-width                 : 3.631em;
$form-qty-text-align            : center;
$form-qty-font-size             : 16px;
$form-qty-height                : inherit;
$form-qty-l-height              : normal;
$form-qty-padding               : 8px 15px;

/*
/ Textarea
*/
$form-texarea-height            : auto;

/*
/ Select with dropdown 
*/
$form-select-drop-border-b      : none;
/* select dropdown */
$select-dropdown-width          : 100%;
$select-dropdown-margin-top     : -1px;
$select-dropdown-position       : absolute;
$select-dropdown-z-index        : 9999;
$select-dropdown-top            : 100%;
$select-dropdown-background     : rgba(255, 255, 255, 1) !important;
$select-dropdown-color          : rgba(0, 0, 0, 1);
$select-dropdown-border         : 1px solid rgba(204, 204, 204, 1);
$select-dropdown-border-top     : 0;
$select-dropdown-border-radaius : 0;
/* search fild in dropdown select*/
$select-search-width            : 100%;
$select-search-height           : auto;
$select-search-padding          : 4px 20px 4px 5px !important;
$select-search-margin           : 0;
$select-search-outline          : 0;
$select-search-font-family      : sans-serif; 
$select-search-font-size        : 1em;
$select-search-border           : 1px solid rgba(204, 204, 204, 1);
$select-search-box-shadow       : none;
$select-search-background       : url(../images/select2.png) 100% -22px no-repeat rgba(255, 255, 255, 1);
/* select dropdown ul*/
$select-ul-max-height           : 200px;
$select-ul-padding              : 4px;
$select-ul-margin               : 0;
$select-ul-position             : relative;
$select-ul-overflow-x           : hidden;
$select-ul-overflow-y           : auto;
$select-ul-background           : rgba(255, 255, 255, 1);
/* select dropdown ul li */
$select-li-font-size            : 13px;
$select-li-style                : none;
$select-li-display              : list-item;
$select-li-bg-image             : none;
$select-li-margin               : 3px 0;
$select-li-padding              : 0;
/* select dropdown ul li div */
$select-li-d-padding            : 5px 7px;
$select-li-d-margin             : 0;
$select-li-d-cursor             : pointer;
$select-li-d-min-height         : 1em;

				    
/*
/ valid  invalid inputs
*/
$valid-input-border-color       : rgba(105, 191, 41, 1); 
$invalid-input-border-color     : rgba(170, 0, 0, 1); 


/*
/ comment textarea
*/
$comment-textarea-box-sizing    : border-box;
$comment-textarea-width         : 100%;
$comment-textarea-height        : 75px;

/*
/ Filter by price - RANGE slider
*/
/* widget_price_filter */
$w-content-border-radius        : 1em;
$w-content-background-color     : #602053;
$w-content-border               : 0;
$w-content-margin               : 1em;
/* ui-slider-horizontal */
$w-horizont-height              : .5em;
/* ui-slider-range */
$w-horizont-ui-top              : 0;
$w-horizont-ui-height           : 100%;

/* .ui-slider */
$w-ui-position                  : relative;
$w-ui-text-align                : left;
$w-ui-margin-left               : .5em;
$w-ui-margin-right              : .5em;
/* .ui-slider-range */
$w-ui-rang-position             : absolute;
$w-ui-rang-z-index              : 1;
$w-ui-rang-font-size            : .7em;
$w-ui-rang-display              : block;
$w-ui-rang-border               : 0;
$w-ui-rang-border-radius        : 1em;
$w-ui-rang-background-color     : #a46497;

/*  ui-slider-handle */
$w-ui-handle-position           : absolute;
$w-ui-handle-z-index            : 2;
$w-ui-handle-width              : 1em;
$w-ui-handle-height             : 1em;
$w-ui-handle-background-color   : #a46497;
$w-ui-handle-border-radius      : 1em;
$w-ui-handle-cursor             : ew-resize;
$w-ui-handle-outline            : 0;
$w-ui-handle-top                : -.3em;
$w-ui-handle-margin-left        : -.5em;